<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themyleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Customer</h1>
<a href="/customers">Customer List</a>

<th:block th:if="message">
    <p th:text="${message}"></p>
</th:block>
<form action="@{/edit-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>FirstName</td>
            <td><input type="text" th:field="*{fistName}"/></td>
        </tr>
        <tr>
            <td>LastName</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>PhoneNumber</td>
            <td><input type="text" th:field="*{phoneNumber}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Customer"></td>
        </tr>
    </table>
</form>
</body>
</html>